body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.animate-container {
  animation: expand 0.7s ease backwards;
}

@keyframes expand {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

td.green {
  color: green;
}

td.red {
  color: red;
}

.index {
  padding: 5%;
}

h1.header {
  margin-bottom: 4rem;
}

input.u-full-width {
  margin-right: 2px;
}

.searchTerm {
  /* width: 100%; */
  border: 3px solid #00B4CC;
  border-right: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  border: 1px solid #00B4CC;
  text-align: center;
  cursor: pointer;
}

.searchBar {
  width: 40%;
  position: relative;
  display: flex;
}